<ion-header>

  <ion-navbar color="primary">
    <ion-title>Historial</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list *ngFor="let item of currentItems">
      <ion-card (click)="openItem(item)">
          <img src={{item.imagen}}/>
          <ion-card-content>
            <h1>
              {{item.cliente}}
            </h1>
            <p>
              {{item.estado}}
            </p>
            <p>
              {{item.valor}}
            </p>
          </ion-card-content>
        </ion-card>
  </ion-list>

  <!-- <ion-item *ngFor="let item of currentItems">
    <button ion-item (click)="openItem(item)">
      <h2>{{item.valor}}</h2>
      <p>{{item.cliente}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-item> -->
</ion-content>
